# Dependencies
node_modules/
.pnpm-store/

# Build
.output/
.nuxt/
dist/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Database
prisma/*.db
prisma/*.db-journal

# Testing
coverage/
.nyc_output/

# Uploads
uploads/
!uploads/.gitkeep

# Misc
*.local
